<section class="text-gray-600 body-font m-5">
  <div class="container px-5 py-24 mx-auto border-white">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">

      <div class="sm:w-1/2 mb-24 px-4 " *ngFor="let destino of destinos">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="Imagen del destino" class="object-cover object-center h-full w-full" [src]="destino.imagen">
        </div>
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">{{ destino.nombre }}</h2>
        <p class="leading-relaxed text-base"></p>
        <button class="flex mx-auto mt-6 mb-4 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Ver Más</button>
        <hr>
      </div>
    </div>
  </div>
</section>
