

//Paleta de colores
$primary: #14104f;
$secondary: #f7bf00;
$succes: #f9a825;
$info: #fffaba;
$danger: #dc3545; // Rojo
$light: #f8f9fa; // Gris claro
$dark: #343a40; // Gris oscuro



// light-theme.scss
$background-color: #ffffff;
$text-color: $primary;

body {
  background-color: $background-color;
  color: $text-color;
}

button {
  padding: 8px 18px;
  font-size: 16px;
  color: $secondary;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: $secondary;
  color: $primary;
}


:single-button {
  padding: 8px 18px;
  font-size: 16px;
  color: $primary;
  background-color: $secondary;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

:single-button:hover {
  background-color: $succes;
  color: $primary;
}
