<section class="bg-gray-50 dark:bg-gray-900 bg-cover bg-center" style="background-image: url('assets/img/beach-2836300_1280.jpg');">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">CREA TU CUENTA</h1>
        <form class="space-y-4 md:space-y-6" (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm" autocomplete="off">
          <div>
            <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
            <input type="text" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" id="firstName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre" required autocomplete="off">
            <div *ngIf="firstName.invalid && firstName.touched" class="text-red-500 text-sm">
              <div *ngIf="firstName.errors?.['required']">El nombre es requerido</div>
            </div>
          </div>
          <div>
            <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido</label>
            <input type="text" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Apellido" required autocomplete="off">
            <div *ngIf="lastName.invalid && lastName.touched" class="text-red-500 text-sm">
              <div *ngIf="lastName.errors?.['required']">El apellido es requerido</div>
            </div>
          </div>
          <div>
            <label for="email2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" name="email2" [(ngModel)]="user.email" #email="ngModel" id="email2" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nombre@ejemplo.com" required email autocomplete="off">
            <div *ngIf="email.invalid && email.touched" class="text-red-500 text-sm">
              <div *ngIf="email.errors?.['required']">El email es requerido</div>
              <div *ngIf="email.errors?.['email']">Formato de email inválido</div>
            </div>
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
            <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required minlength="8" autocomplete="new-password">
            <div *ngIf="password.invalid && password.touched" class="text-red-500 text-sm">
              <div *ngIf="password.errors?.['required']">La contraseña es requerida</div>
              <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres</div>
            </div>
          </div>
          <div *ngIf="errorMessage" class="text-red-500 text-sm">
            {{ errorMessage }}
          </div>
          <button type="submit" class="w-full text-secondary bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" [disabled]="registerForm.invalid">Registrarme</button>
        </form>
      </div>
    </div>
  </div>
</section>
