@import '../../../styles.scss';

.container {
  width: 100%;
}

.menu-link {
  margin-right: 1rem;
  color: #130F4E !important; /* Color azul marino para enlaces en pantallas grandes */
  font-weight: 300;
  display: block;
}

.menu-link:hover {
  color: #FDC010 !important; /* Color amarillo en hover */
  text-decoration: none;
  font-weight: 300;
}

.logo {
  height: 50px;
}

.button_dark {
  background-color: #333;
  color: #fff;
  font-weight: 300;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}

.mat-sidenav-container {
  height: 100%;
  z-index: 2000;
  position: relative;
}

.mat-sidenav {
  width: 250px;
  background-color: #f9f9f9;
  padding: 1rem;
  z-index: 3000;
}

.mat-sidenav mat-list-item {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 0;
}

button[_ngcontent-ng-c1934853599]:hover {
  background-color: #130F4E !important;
}

@media (max-width: 768px) {
  .md\:hidden {
    display: inline-flex !important;
  }
  .menu-link {
    color: #130F4E !important; /* Color azul marino para enlaces en pantallas pequeñas */
  }
}
