


@use '@angular/material' as mat;
@import "./assets/themes/custom.scss";
@include mat.core();


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$custom-primary-map: (
  50: #e3f2fd,
  100: #9bcef8,
  200: #68b6f6,
  300: #0080e8,
  400: #0071ce,
  500: #005ca7,
  600: #00437e,
  700: #003060,
  800: #001d3e,
  900: #001433,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$custom-secondary-map: (
  50: #fffde7,
  100: #fff9c4,
  200: #fff59d,
  300: #fffaba,
  400: #ffee58,
  500: #ffeb3b,
  600: #fdd835,
  700: #fbc02d,
  800: #f9a825,
  900: #f57f17,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
  )
);

$custom-analogous-green-map: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);


$custom-warn-map: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);


$custom-warn-map:(
  50: #fdeaee,
  100: #fbcad2,
  200: #ea959b,
  300: #de6c74,
  400: #e84853,
  500: #ed323b,
  600: #de2839,
  700: #cc1d33,
  800: #bf152c,
  900: #b00020,
  contrast:(
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #FFF,
    500: #FFF,
    600: #FFF,
    700: #FFF,
    800: #FFF,
    900: #FFF,
  )
);






