<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Mis Opiniones</h2>
  <div *ngFor="let comentario of comentarios" class="mb-4 p-4 border rounded-md shadow-sm">
    <h3 class="text-xl font-semibold">{{ comentario.titulo }}</h3>
    <p class="text-gray-600">{{ comentario.descripcion }}</p>
    <p class="text-yellow-500">Puntuación: {{ comentario.puntuacion }}</p>
    <button (click)="deleteComentario(comentario.id!)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2">
      Eliminar
    </button>
  </div>
</div>
